<section class="section">
  <h1><%= @user.name %></h1>
  <div class="box">
    <%= @user.biography %>
    <%= image_tag @user.profile_picture.representation(resize_to_limit: [100, 100]) %>
  </div>
  <% if @user == current_user %>
    <p><%= link_to 'Edit profile', edit_user_path %>
    <p><%= link_to 'Friends', friendships_path %></p>
    <p><%= link_to 'Pending friend requests', friend_requests_path %></p>
    <%= render 'posts/form', post: @post %>
  <% elsif current_user.friends.include?(@user) %>
    <%= link_to 'Delete friendship', friendship_path, method: :delete %>
  <% elsif !FriendRequest.where(requester: current_user, requestee: @user).empty? %>
    <%= link_to 'Delete friend request', friend_request_path(current_user.sent_friend_requests.where(requestee: @user).first), method: :delete %>
  <% else %>
    <%= link_to 'Send a friend request', friend_requests_path(friend_request: {requestee_id: @user.id}), method: :post %>
  <% end %>
  <% if @posts.empty? %>
    <p>No posts yet!</p>
  <% else %>
    <% @posts.each do |post| %>
      <%= render 'posts/post_display', post: post %>
    <% end %>
  <% end %>
</section>
