<section class="section">
  <div class="columns is-centered">
    <div class="column is-three-fifths">
      <div class="box">
        <article class="media">
          <figure class="media-left">
            <p class="image is-128x128">
              <%= link_to url_for(@user.profile_picture) do %>
                <%# Using Cloudinary: %>
                <%= cl_image_tag(current_user.profile_picture.key, width: 128, height: 128, resize: :limit) %>
                <%# Using local storage: %>
                <%#= image_tag @user.profile_picture.variant(resize_to_limit: [128, 128]) if @user.profile_picture.attached? %>
              <% end %>
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
                <strong><div class='is-size-5'><%= @user.name %></div></strong>
                <p>
                  <% if @user == current_user %>
                    <small>
                      <%= link_to 'Edit profile', edit_user_path %> 
                      · <%= link_to 'Friends', friendships_path %> 
                      · <%= link_to 'Pending friend requests', friend_requests_path %>
                    </small>
                  <% else %>
                    <%= render 'friend_button', user: @user %>
                  <% end %>
                </p>
                <p class="notification">
                  <% if !(@user.biography.nil? || @user.biography.empty?) %>
                    <%= @user.biography %>
                  <% elsif @user == current_user %>
                    Why don't you <%= link_to 'add something to your bio', edit_user_path %>?
                  <% else %>
                    <%= @user.name %> hasn't added anything to their bio yet.
                  <% end %>
                </p>
            </div>
          </div>
        </article>
      </div>
      <div class="box">
        <div class="block">
          <% if @user == current_user %>
            <%= render 'posts/form', post: @post %>
          <% end %>
          <% if @posts.empty? %>
            <p>No posts yet!</p>
          <% else %>
            <% unless @posts.empty? %>
              <% @posts.each do |post| %>
                <%= render 'posts/post_display', post: post %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
