<section class="section">
  <h1><%= @user.name %></h1>
  <div class="box">
    <%= @user.biography %>
    <figure class="image is-128x128">
      <% if @user.profile_picture.representable? %>
        <%= image_tag @user.profile_picture.representation(resize_to_limit: [128, 128]) %>
      <% else %>
        <%= image_tag 'https://bulma.io/images/placeholders/128x128.png' %>
      <% end %>
    </figure>
  </div>
  <% if @user == current_user %>
    <p><%= link_to 'Edit profile', edit_user_path %>
    <p><%= link_to 'Friends', friendships_path %></p>
    <p><%= link_to 'Pending friend requests', friend_requests_path %></p>
    <%= render 'posts/form', post: @post %>
  <% else %>
    <%= render 'friend_button', user: @user %>
  <% end %>
  <% if @posts.empty? %>
    <p>No posts yet!</p>
  <% else %>
    <% @posts.each do |post| %>
      <%= render 'posts/post_display', post: post %>
    <% end %>
  <% end %>
</section>
