<section class="section">
  <h1><%= @user.name %></h1>
  <div class="box">
    <%= @user.biography %>
    <figure class="image is-128x128">
      <% if @user.profile_picture.representable? %>
        <%= image_tag @user.profile_picture.representation(resize_to_limit: [128, 128]) %>
      <% else %>
        <%= image_tag 'https://bulma.io/images/placeholders/128x128.png' %>
      <% end %>
    </figure>
    <% if @user == current_user %>
    <small>
      <%= link_to 'Edit profile', edit_user_path %> 
      · <%= link_to 'Friends', friendships_path %> 
      · <%= link_to 'Pending friend requests', friend_requests_path %>
    </small>
  <% else %>
    <%= render 'friend_button', user: @user %>
  <% end %>
  </div>
</section>
<section class="section">
  <div class="columns is-centered">
    <div class="column is-three-fifths">
      <div class="box">
        <% if @user == current_user %>
          <%= render 'posts/form', post: @post %>
        <% end %>
        <% if @posts.empty? %>
          <p>No posts yet!</p>
        <% else %>
          <% unless @posts.empty? %>
            <% @posts.each do |post| %>
              <%= render 'posts/post_display', post: post %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>
