<!DOCTYPE html>
<html>
  <head>
    <title>OdinFacebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notification is-primary global-notification">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-danger global-notification">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <nav class="navbar is-info">
      <div class="navbar-start">
        <div class="navbar-brand">
          <%= link_to root_path, class: 'navbar-item' do %>
            <h4 class="title is-4">Social Network</h4>
          <% end %>
        </div>
      </div>
      <div class="navbar-end">
        <% if user_signed_in? %>
          <div class="navbar-item">
            <div class="control">
              <%= link_to friend_requests_path do %>
                <div class="tags has-addons">
                  <span class="tag">Friend requests:</span>
                  <% if current_user.received_friend_requests.empty? %>
                    <span class="tag is-danger">0</span>
                  <% else %>
                    <span class="tag is-primary"><%= current_user.received_friend_requests.count %></span>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <%= link_to current_user, class: 'navbar-link' do %>
              <figure class="image is-32x32">
                <% if current_user.profile_picture.representable? %>
                  <%= image_tag current_user.profile_picture.representation(resize_to_limit: [32, 32]), class: 'is-rounded', id: 'navbar-profile-picture' %>
                <% else %>
                  <%= image_tag 'https://bulma.io/images/placeholders/64x64.png', class: 'is-rounded' %>
                <% end %>
              </figure>
              <p><%= current_user.name %></p>
            <% end %>

            <div class="navbar-dropdown">
              <%= link_to 'Users', users_path, class: 'navbar-item' %>
              <hr class="navbar-divider">
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'navbar-item' %>
            </div>
          </div>
        <% else %>
          <div class="navbar-item">
            <%= link_to 'Sign up', new_user_registration_path, class: 'button is-primary' %>
          </div>
          <div class="navbar-item">
            <%= link_to user_facebook_omniauth_authorize_path, method: :post, class: 'button' do %>
              <span class="icon">
                <%= fa_icon "fas facebook-square" %>
              </span>
              <span>Continue with Facebook</span>
            <% end %>
          </div>
          <div class="navbar-item">
            <%= link_to 'Sign in', new_user_session_path, class: 'button' %>
          </div>
        <% end %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
