<!DOCTYPE html>
<html>
  <head>
    <title>OdinFacebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <p><%= link_to 'Social Network', root_path %></p>
      <% if user_signed_in? %>
        <p><%= link_to current_user.name, current_user %></p>
        <p><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></p>
      <% else %>
        <p><%= link_to 'Sign in', new_user_session_path %></p>
      <% end %>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
