<!DOCTYPE html>
<html>
  <head>
    <title>OdinFacebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notification is-success global-notification">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-danger global-notification">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <nav class="navbar is-primary">
      <div class="navbar-brand">
        <% if user_signed_in? %>
          <%= link_to root_path, class: 'navbar-item' do %>
            <h4 class="title is-4 white">Social Network</h4>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path, class: 'navbar-item' do %>
            <h4 class="title is-4 white">Social Network</h4>
          <% end %>
        <% end %>
        <a role="button" class="navbar-burger" data-target="mainNavbar" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu" id="mainNavbar">
        <div class="navbar-end">
          <% if user_signed_in? %>
            <div class="navbar-item">
              <div class="control">
                <%= link_to friend_requests_path do %>
                  <div class="tags has-addons">
                    <span class="tag">Friend requests:</span>
                    <% if current_user.received_friend_requests.empty? %>
                      <span class="tag is-danger">0</span>
                    <% else %>
                      <span class="tag is-success"><%= current_user.received_friend_requests.count %></span>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <%= link_to current_user, class: 'navbar-link' do %>
                <figure class="image is-32x32 flex items-center pr2">
                  <%= image_tag(current_user.profile_picture.variant(resize_to_fill: [32, 32]), class: 'is-rounded' ) if current_user.profile_picture.attached? %>
                </figure>
                <p><%= current_user.name %></p>
              <% end %>
              <div class="navbar-dropdown">
                <%= link_to 'Users', users_path, class: 'navbar-item' %>
                <hr class="navbar-divider">
                <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'navbar-item' %>
              </div>
            </div>
          <% else %>
            <div class="navbar-item">
              <%= link_to user_facebook_omniauth_authorize_path, method: :post, class: 'button is-info has-text-white ba b--white' do %>
                <span class="icon fa-2x">
                  <%= fa_icon "fas facebook-square" %>
                </span>
                <span>Continue with Facebook</span>
              <% end %>
            </div>
            <div class="navbar-item">
              <%= link_to 'Sign up', new_user_registration_path, class: 'button' %>
            </div>
            <div class="navbar-item">
              <%= link_to 'Sign in', new_user_session_path, class: 'button' %>
            </div>
          <% end %>
        </div>
      </div>
    </nav>
    <%= yield %>
    <script>
      document.addEventListener('DOMContentLoaded', () => {

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }

});
    </script>
  </body>
</html>
