<!DOCTYPE html>
<html>
  <head>
    <title>OdinFacebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">
      <div class="navbar-start">
        <div class="navbar-item">
          <%= link_to 'Social Network', root_path, class: 'button is-ghost' %>
        </div>
      </div>
      <div class="navbar-end">
        <% if user_signed_in? %>
          <div class="navbar-item">
            <%= link_to friend_requests_path do %>
              <% if current_user.received_friend_requests.empty? %>
                <span class="icon has-text-grey-light button is-white">
              <% else %>
                <span class="icon has-text-danger button is-white">
              <% end %>
                <i class="fa fa-users"></i>
              </span>
            <% end %>
          </div>
          <div class="navbar-item">
            <%= link_to current_user.name, current_user, class: 'button' %>
          </div>
          <div class="navbar-item">
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'button' %>
          </div>
        <% else %>
          <div class="navbar-item">
            <%= link_to 'Sign in', new_user_session_path, class: 'button' %>
          </div>
        <% end %>
      </div>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
