<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-4">
        <h2 class="title is-2">Edit account info</h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, defaults: { wrapper: false, label_html: { class: 'label' }, input_html: { class: 'input' }, hint_html: { class: 'help' }, full_error_html: { class: 'help is-danger' } }) do |f| %>
          <%= f.error_notification %>
          <div class="field">
            <div class="control">
              <%= f.input :name, autofocus: true %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.input :email, required: true %>
            </div>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <div class="field">
            <div class="control">
              <%= f.input :password,
                      hint: "Leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.input :current_password,
                      hint: "We need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
            </div>
          </div>

          <%= f.button :submit, "Update", class: 'button' %>
        <% end %>

        <h3>Cancel my account</h3>

        <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

        <%= link_to "Back", :back %>
      </div>
    </div>
  </div>
</section>